* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Quicksand', 'Courier New', Courier, monospace;
}

body {
    background-color: #fff;
}

.grid-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    background-color: #fff;
    height: 100%;
    pointer-events: none;
}


.arrow-btn {
    margin: 2rem;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
}

.btn-container a {
    text-decoration: none;
    color:#111;
    font-size: 24px;
}

.btn-container a:hover {
    text-decoration: none;
    color:#929292;
    font-size: 24px;
}



/* footer */

.footer {
    max-width: 1200px;
    margin-inline: auto;
    padding: 2rem 0 2rem 0;
}

.pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 auto 0 auto;
}

.company {
    color: #929292;
    padding: 1rem 0 0 0;
}



.footer a {
    color: #929292;
    text-decoration: none;
}

.footer a:hover {
    color: #111;
    text-decoration: none;
}

