* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Quicksand', 'Courier New', Courier, monospace;
}

body {
    background-color: #fff;
}

.grid-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));   
    background-color: #fff;
    height: 100%;
}


.arrow-btn {
    margin: 2rem;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
}

.btn-container a {
    text-decoration: none;
    color:#111;
    font-size: 24px;
}

.btn-container a:hover {
    text-decoration: none;
    color:#929292;
    font-size: 24px;
}





